header{
    height: 100px;
    margin: 0 10px;
    border-bottom: #BFC5CA solid 2px;
    margin-bottom: 50px;
}
header h1{
    left: 10px;
}

section{
    margin: 0 100px;
    max-width: 1300px;
    margin: auto;
}
body.index{
    text-align: center;
}
.edit{
    text-align: right;
}
.main{
    display: flex;
    justify-content: space-around;
}
.main h1{
    margin-top: 250px;
}
button{
    margin-top: 20px;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: #3CB5E0;
    border-radius: 5px;
    border: none;
    color: white;
}
/*****************ヘッダーメニュー**********************/

nav.hd ul{
    display: table;
    margin: 0 auto;
    padding: 0 ;
    width: 60%;
    text-align: center;
    margin-top: 20px;
}
nav.hd li{
    display: table-cell;
    width: 300px;

    
}
nav.hd a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
}
nav.hd li.current{
    border-bottom: 3px solid #3CB5E0;
}
nav.hd li:hover{
    border-bottom: 3px solid #F0E475;
}

/*****************フッターメニュー**********************/
footer{
    color: white;
    background-color: #202020;
    padding-top: 20px;
    margin-top: 50px;

}
nav.ft li{
    list-style: none;
    margin-bottom: 5px;
}
.copy{
    padding: 10px 0px;
    margin-top: 20px;
    text-align: center;
    background-color: black;
}
nav.ft a{
    text-decoration: none;
    color: white;
}
nav.ft a:hover{
    border-bottom: white solid 1px;
}
nav.ft{
    margin-left: 20px;
}

