.form-area{
    border: 1px gray solid;
    border-radius: 5px;
    padding: 10px;
    width: 700px;
    margin-bottom: 20px;
}
.create{
    text-align: center;
}

div{
    margin-top: 20px;
}
p.url{
    font-size: 0.75rem;
    color: gray;
}

/*************************イベントフォームのデザイン *************************/
.event-form{
    background-color: white;
    padding: 10px 0;
    border-radius: 5px;
}
#send2{
    background-color: #65C7F7;
    color: white;
    border-radius: 5px;
    width: 200px;
    margin: auto;
    padding: 10px 0;
}
#send2:hover{
    background-color: #008DBD;
}

