header{
    height: 106px;
    margin-bottom: 50px;
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
header h1{
    margin-left: 10px;
}
.title-logo{
    text-decoration: none;
    color: white;
}
.title-area{
    width: 200px;
}
body{
    background-color: #EDF2FA;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

section{
    margin: 0 100px;
    max-width: 1000px;
    margin: auto;
    
    
}
body.index{
    text-align: center;
}
.edit{
    text-align: right;
}
.main{
    display: flex;
    justify-content: space-around;
}
.main h1{
    margin-top: 250px;
}
button#sign-out{
    position: absolute;
    right: 30px;
    top: 10px;
    color: white;
    background-color: #65C7F7;
    padding: 5px 10px;
    border-radius: 5px;
    
}
button#sign-out:hover{
    background-color: #008DBD;
}



/*****************ヘッダーメニュー**********************/

nav.hd ul{
    display: table;
    margin: 0 auto;
    padding: 0 ;
    width: 60%;
    text-align: center;
    margin-top: 20px;
}
nav.hd li{
    display: table-cell;
    width: 300px;
    padding-bottom: 3px;

    
}
nav.hd a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    font-size: 15pt;
}
nav.hd li.current{
    border-bottom: 3px solid #F0E475;
}




/*****************フッターメニュー**********************/
footer{
    color: white;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 20px;
    margin-top: 50px;
}
nav.ft li{
    list-style: none;
    margin-bottom: 5px;
}
.copy{
    padding: 10px 0px;
    margin-top: 20px;
    text-align: center;
    
}
nav.ft a{
    text-decoration: none;
    color: white;
}
nav.ft a:hover{
    border-bottom: white solid 1px;
}
nav.ft{
    margin-left: 20px;
}

