.my-content{
    display: flex;
    justify-content: space-around;
    height: 100px;
}
.my-content img{
    height: 400px;
    width: 400px;
    margin-right: 130px;
}
.my-content div{
    border: black solid 3px;
    height: 400px;
    width: 800px;
}
.my-events{
    margin-top: 350px;
    margin-bottom: 150px;
}
